<div class="container" id="add_new_peep">
  <p>Add a peep</p>
  <form class="" action="/save_peep" method="post">
    <input type="text" name="peep" placeholder="Peep" />
    <input value="Submit" type="submit" name="Submit" />
  </form>
</div>
