<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a new Peep</title>
  </head>
  <body>
    <p>Add a peep</p>
    <form class="" action="/save_peep" method="post">
      <input type="text" name="peep" placeholder="Peep" />
      <input value="Submit" type="submit" name="Submit" />
    </form>
  </body>
</html>
