<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Peeps</title>
  </head>
  <body>
    <ul>
      <br><br>
      <% @peeps.each do |peep| %>
      <font size="1" face="verdana" color="blue">
        @<%= peep.username %> </font>
      <font size="1" face="verdana" color="darkgrey">
        <%= peep.created_at %>
      </font>
      <br>
        <textarea name="" disabled rows="3" cols="50">
          <%= peep.content %>
        </textarea>
        <br><br>
        <% end %>
      <br>
      <br>
    </ul>
  </body>
</html>
