<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Peeps</title>
  </head>
  <body>

    <ul>
      <% @peeps.each do |peep| %>
        <li><%= peep %></li>
      <% end %>
    </ul>

  </body>
</html>
